[project]
	description = GUI based s19 loader for use with s12x targets with special features for freeems
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sean Keys (seank)
[access "refs/for/refs/*"]
	read = group user/Sean Keys (seank)
	push = group user/Sean Keys (seank)
	label-Code-Review = -2..+2 group user/Sean Keys (seank)
	label-Verified = -1..+1 group user/Sean Keys (seank)
	rebase = group user/Sean Keys (seank)
	removeReviewer = group user/Sean Keys (seank)
	submit = group user/Sean Keys (seank)
[access "refs/heads/*"]
	read = group user/Sean Keys (seank)
	create = group user/Sean Keys (seank)
	push = +force group user/Sean Keys (seank)
	pushMerge = group user/Sean Keys (seank)
[access "refs/tags/*"]
	push = group user/Sean Keys (seank)
	push = +force group user/Sean Keys (seank)
